@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Karla:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
}

.container {
  width: 500px;
  height: 500px;
  background-color: #1f2937;
  border-radius: 10px;
}

.p1 {
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin: 60px 0 10px 0;
  padding: 40px 0 0 52px;
}

.p2 {
  color: #4adf86;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
}

.p3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #d5d4d8;
  padding: 0 0 0 52px;
}

.passwords {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}

.pass {
  width: 180px;
  height: 39px;
  background-color: #273549;
  border-radius: 6px;
  color: #55f991;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.genpass {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  position: relative;
  left: 52px;
  padding: 10px;
  background-color: #10b981;
  margin-bottom: 25px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 30px;
}
hr {
  border: 1px solid #2f3e53;
  margin: 10px 50px 0 50px;
}

